.card {
    display: flex;
    margin-bottom: 2em;
    flex-wrap: wrap;
    gap: 1em;
}

.card h3 {
    font-size: 1.2em;
}

.card p {
    font-size: 1em;
    color:#c8c7c7;
}

#listadoNoticias {
    list-style-type: none;
}

.enlaces{
    display: flex;
    gap: 2em;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 8px;
    background-color: #3f3f3f;

}

.enlaces h5{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
}

.enlaces h5:hover {
    color: rgba(36,111,42,255);
    cursor: pointer;
}

#btnEliminar:hover {
    cursor: pointer;
    fill: #db0b0b;
}

/* design cards */
.card-list {
    --background: #fff;
    --cardShadow: rgba(32,33,37,.1);
    --cardShadowHover: rgba(32,33,37,.06);
    --cardShadowActive: rgba(32,33,37,.55);
    --cardBorder: #dbdce0;
    --cardBorderActive: #1a73e8;
    --textColor: #202125;
    --linkColor: #1967d2;
    --ratingColor: #faab00;
  }
  
  @media (prefers-color-scheme: dark) {
    .card-list {
      --background: #3c4043;
      --cardShadow: rgba(0,0,0,.28);
      --cardShadowHover: rgba(0,0,0,.16);
      --cardShadowActive: rgba(0,0,0,.55);
      --cardBorder: #202125;
      --cardBorderActive: #8ab4f8;
      --textColor: #e9eaee;
      --linkColor: #8ab4f8;
    }
  }
  
  .card-list {
    width: 250px;
    height: 350px;
    aspect-ratio: 2/3;
    background: var(--background);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 25px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: box-shadow .5s, transform .5s;
    border-radius: 8px;
    display: inline-block;
  }
  
  .card-list:hover {
    transform: translate(-2px, -4px);
    box-shadow: 16px 16px 0 var(--cardShadowHover);
  }
  
  .card-list:active {
    transform: translate(-2px, -4px);
    border: 2px solid var(--cardBorderActive);
    box-shadow: 4px 4px 0 var(--cardShadowActive);
  }
  
  .card-list > .icon,
  .card-list > .title,
  .card-list > .description {
    margin-bottom: 0.7em;
    cursor: default;
    user-select: none;
  }
  
  .card-list > .title {
    margin-top: 1.5em;
    font-weight: bold;
  }
  
  .card-list > .description {
    line-height: 1.5em;
    min-height: 6em;
  }
  
  .card-list > .icon {
    font-size: 3em;
    margin-bottom: .2em;
  }
  
  .card-list > .rating {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    color: var(--ratingColor);
    font-weight: bold;
    position: relative;
    width: max-content;
  }
  
  .card-list > .rating:before {
    content: "☆☆☆☆☆";
  }
  
  .card-list > .rating:after {
    content: "★★★★★";
    position: absolute;
    left: 0;
    z-index: 0;
    width: calc(var(--rating) * 1%);
    overflow: hidden;
  }
  
  .card-list > .link {
    margin-bottom: 1rem;
    color: var(--linkColor);
    font-size: .8em;
    font-weight: 600;
  }
  
  /* Optional ~ Link the whole card-list */
  .card-list > .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card-list > .link:after {
    content: "↗";
    display: inline-block;
    margin-left: .3em;
    transition: transform .3s ease-in-out;
  }
  
  .card-list:hover > .link:after {
    transform: translate(.2em, -.2em);
  }
  